# =========================================================
# SRB NEXUS
# Your Server. Your Rules. Your Nexus.
#
# Example Environment Configuration
# =========================================================

# ---------------------------------------------------------
# Application
# ---------------------------------------------------------

NODE_ENV=development

# ---------------------------------------------------------
# Discord Bot
# ---------------------------------------------------------

DISCORD_TOKEN=